/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --Gray: #8e8e8ea9;
  --lBlue: rgba(0, 60, 255, 0.808);
  --notActive: rgba(84, 129, 228, 0.678);
  --tmdbDarkBlue: 3, 37, 65;
  --ungu: #7f5a83;
 --campuran:315deg, #7f5a83 0%, #0d324d 74%;
 --lightGreen:#08e0d2;
 --greens:color: #08FDD8;
 --whitey:#ffffff99;
 --surface-color: #fff;
 --curve: 40;
}


@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Didact+Gothic&family=Noto+Sans:wght@500&family=Outfit:wght@300&family=Pacifico&family=Poppins:wght@200&display=swap");
/* END RESET */

body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
color: #1bb3faf3;
}

.not-found{
color: white;
font-weight: bold;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin:250px auto;
}

.not-found h1{
  font-size: 80px;
}

.not-found a{
  color: var(--lightGreen);
}

button {
  padding: 0.73em 1.87em;
  border-radius: 5px;
  background: transparent;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: var(--lightGreen);
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
  border: 1px solid var(--lightGreen);
  color: var(--lightGreen);
}

.load-button{
  padding:8px 63px;
}

button a{
  color: var(--lightGreen);
}

button:hover a{
  color: black;
}

/* MAIN PAGE */

.main-container{
margin: 100px 100px 0 100px;
display: flex;
flex-direction: column;
gap: 20px;
}

.about-container .text p {
  color: white;
  font-size: 25px;
}
.pages-container{
  margin: 120px 60px;
}

.top-page{
  margin: 0 50px;
}

.top-page-inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.name-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-title p{
  margin: 0;
  padding: 0;
  line-height: normal;
}

.name-title span{
  margin: 0;
  padding: 0;
}

.top-page-inner .name{
  display: flex;
  align-items: center;
}

.mid{
  gap: 25px;
}
.top-page-inner .name-text{
color: var(--whitey);
font-size: 17px;
font-weight: 400;
}
.name-title .name{
font-size: 100px;
padding: 0;
margin: 0;
font-weight: bold;
color: white;
}

.title{
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
gap: 15px;
align-items: center;
text-align: center;
}

.title h3{
color: var(--lightGreen);
font-size: 20px;
}

.title p{
  color: var(--whitey);
  font-size: 20px;
  }

  .judul{
    order: -1;
text-align: center;
color: var(--lightGreen);
  }

  .sub-judul{
    color: var(--lightGreen);
    font-size: 35px;
    font-weight: bold;
  }

  .judul-span.judul span{
    color: var(--lightGreen);
    font-size: 50px;
    gap: 25px;
    padding: 0;
    font-weight: bold;
  }

  .judul-span{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .judul-span span{
    color: var(--lightGreen);
    font-size: 60px;
    gap: 25px;
    padding: 0;
    font-weight: bold;
  }

.title h2{
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.button-container{
  display: flex;
  gap: 20px;
}

/* PROJECT PAGE */

.project .title{
  position: relative;
}
.project .title:after{
content: " ";
position: absolute;
width: 100%;
height: 2px;
color: #bdd4e717;
background-image: linear-gradient(315deg, #bdd4e760 0%, #8693ab42 74%);
bottom: -50px;
}

.project p{
  color: var(--lightGreen);
}

.project-inner{
  margin: 20px 0;
  color: #000000de;
  position: relative;
}

.slider .fa{
  font-size: 70px;
  cursor: pointer;
  color: white;
}

.slider{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 50%;
}

.slider .left-slide{
  position: absolute;
  left: -550px;
  top: 25%;
}
.slider .right-slide{
  position: absolute;
  right: -550px;
  top: 25%;
}
/* END PROJECT */

/* ABOUT PAGE */
.about-container{
  display: flex;
gap: 40px;
margin: 0 50px;
align-items: center;
}

.about-container .text{
  text-align: left;
}
.image-wrap img{
  border-radius: 15px;
  width: 450px;
  height: 480px;
  object-fit: cover;
}
/* END ABOUT PAGE */

/* TESTIMONI PAGE */
.testimoni{
  margin: 100px 60px 0 60px;
overflow: hidden;
position: relative;
  }
  
  .arrow-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top:0;
    right: 0;
  }

  .arrow-container .fa{
    color: white;
    font-size: 30px;
  cursor: pointer;
  }

.testimoni-container{
  display: flex;
gap: 20px;
margin: 50px 50px;
}

/* END TESTIMONI */


/* PROJECT CARD */
figure.snip1390 {
  order: 2;
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 20px;
background: rgba(127, 90, 131, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(127, 90, 131, 0.23);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}

/* ABOUT CARDS */


/* CARDS */
.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 10px;
  gap: 2rem;
  margin: 80px 50px;
}

.service-card{
  display: flex;
  flex-direction: column;
align-items: center;
padding: 15px;
gap: 15px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
background: rgba(127, 90, 131, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(127, 90, 131, 0.3);
}

.icons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.service-card img{
  width: 50px;
  color: white;
}

.info h3{
  color: white;
  font-size: 20px;
  text-align: center;
}
.service-card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}
/* END ABOUT CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 80px 50px;
  padding: 0;
  list-style-type: none;
}

.card .info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
}


.cards .detail{
  display: block;
  margin:20px auto;
}

.card{
  position: relative;
  display: block;
  height: 370px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
  object-fit: cov;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__title a{
  color: #6A515E;
}

.card__title a:hover{
  color: #6A515E;
}
.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    
 
.App .contact-container{
  color: white;
}

  
.App .contact-page{
  margin: 120px 80px;
}

.App .form-left{
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
}

.App .form-right{
  background-color: rgba(141, 81, 133, 0.089);
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
}

.App .form-right a{
  color: white;
}

.App .form-right .mb-4{
  font-size: 20px;
  text-align: center;
}
.App .form-right .fa{
  font-size: 35px;
  }


/* ANIMASI */
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:var(--lightGreen);
  color:black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* END SWEEP TO RIGHT */
.skeleton-card{
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.card-img {
  padding-bottom: 56.25%;
  position: relative;
}
.card-img img {
  position: absolute;
  width: 100%;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;
}
.card-title.skeleton {
  min-height: 28px;
  border-radius: 4px;
}

.card-intro {
  margin-top: 0.75rem;
  line-height: 1.5;
}
.card-intro.skeleton {
  min-height: 72px;
  border-radius: 4px;
}

.skeleton {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  -webkit-animation: shine 1s ease infinite;
          animation: shine 1s ease infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}


.context {
  width: 100%;
  position: absolute;
  top:50vh;
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
/* end animasi */

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.modals{
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 5555;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  opacity: 1;
  height: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
}



.image-wraps{
  margin: 45px 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-wraps .closes{
  position: absolute;
  right: 50px;
  top: -25px;
  color: white;
  font-size: 50px ;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
}




.fadez{
  animation-name: fade;
  animation-duration: 1s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.image-wraps img {
  border: 3px solid white;
  width: 900px;
  height: 530px;
  object-position: center 0px;
  object-fit: cover;
  /* animation-name: fade;
  animation-duration: 1.5s; */
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
}




/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: var(--lightGreen);
  transition: 500ms;
}





/* RESPONSIVE */


@media (min-width:1375px){
  /* .App .contact-page{
    margin: 100px 35px;
  } */
  .main-container{

    }

    .top-page{
   margin: 0 100px;
    }

    .about-container{
      margin: 0 100px;
    }
} 

@media (max-width:1280px){
  .about-container{
    margin: 0 55px;
  }
  .testimoni{
    margin: 50px 45px;
    }

}

@media (max-width:1145px) {
  .App .contact-page{
    margin: 100px 35px;
  }

  .arrow-container{
    top: 20px;
  }
  .main-container{
    margin: 130px 50px;
    gap: 70px;
    }
    
    .testimoni{
      margin: 50px 45px;
      }

  .top-page-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
  .name-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .name-title p{
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  
  .name-title span{
    margin: 0;
    padding: 0;
  }
  
  .top-page-inner .name{
    display: flex;
    align-items: center;
  }
  
  .mid{
    gap: 25px;
  }
  .top-page-inner .name-text{
  color: var(--whitey);
  font-size: 17px;
  font-weight: 400;
  }
  .name-title .name{
    font-size: 85px;
    font-family: 'Didact Gothic', sans-serif;
    }
  
    .name-title .name:hover{
      color: var(--lightGreen);
      transition: 500ms;
    }
    .image-wraps{
      margin: 70px 50px;
    }
    
    .image-wraps img {
      width: 750px;
      height: 460px;
    }

}

@media (max-width:1100px){
  .slider{
    top: 50%;
    left: 50%;
  }
  .slider .fa{
font-size: 50px;
  }

  .slider .left-slide{
    left: -450px;
  }
  .slider .right-slide{
    right: -450px;
  }
}

@media (max-width:1030px){
.about-container{
flex-direction: column;
margin: 0 65px;
}

.image-wrap img{
  width: 100%;
}
}

@media (max-width:1000px){
  .about-container{
    flex-direction: column;
  margin: 0 20px;
  align-items: center;
  }

  .name-title .name{
    font-size: 75px;
    }  


  .image-wrap img{
    border-radius: 15px;
width: 100%;
    height: 480px;
    object-fit: cover;
  }

  .pages-container{
    margin: 120px 50px 0 50px;
  }
  
  .contact-container .contact-page{
    margin: 50px 50px 0 50px;
  }
  .main-container{
    margin: 120px 1px 1px 1px;
    gap: 1px;
  }
  
  .cards{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

  .about-container{
    display: flex;
  gap: 40px;
  margin: 20px 50px;
  }
.col-md-10{
width: 100%;
}

    .App .contact-page{
      margin: 100px 35px;
    }

    .image-wraps{
      margin: 70px 50px;
    }
    
    .image-wraps img {
      width: 750px;
      height: 460px;
    }
}

@media (max-width:950px) {
  .image-wraps .closes{
    right: -10px;
    top: -35px;
    color: white;
    font-size: 40px ;
  }  
}
@media (max-width:900px){
    .App .contact-page{
      margin: 100px 25px;
    }

    .slider{
      top: 50%;
      left: 50%;
    }
    .slider .fa{
  font-size: 30px;
    }
  
    .slider .left-slide{
      left: -410px;
    }
    .slider .right-slide{
      right: -410px;
    }
}


@media (max-width:850px){
  .cards{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }
  .name-title .name{
    font-size: 65px;
    }  
    .App .contact-page{
      margin: 100px 25px;
    }
    .image-wraps{
      margin: 70px 50px;
    }
    
    .image-wraps img {
      width: 650px;
      height: 460px;
    }

    .slider .fa{
  font-size: 30px;
    }
  
    .slider .left-slide{
      left: -370px;
    }
    .slider .right-slide{
      right: -370px;
    }
}

@media (max-width:768px){
  .image-wraps{
    margin: 70px 50px;
  }
  
  .image-wraps img {
    width: 600px;
    height: 450px;
  }
  .image-wraps .closes{
    right: -30px;
    top: -35px;
    color: white;
    font-size: 35px ;
  }  

  .slider .fa{
    font-size: 30px;
      }
    
      .slider .left-slide{
        left: -340px;
      }
      .slider .right-slide{
        right: -340px;
      }
}
@media (max-width:670px) {
  .name-title .name{
    font-size: 50px;
    }  

    .judul-span.judul{
      text-align: left;
justify-content: flex-start;
    }

    .testimoni{
      margin: 150px 30px 10px 30px;
      }
      

    .contact-container .contact-page{
      margin: 25px 20px 20px 20px;
    }

    
  .pages-container{
    margin: 120px 20px 0 20px;
  }
  
  .image-wraps{
    margin: 70px 50px;
  }
  
  .image-wraps img {
    width: 450px;
    height: 450px;
  }
  
  .slider .left-slide{
    left: -280px;
  }
  .slider .right-slide{
    right: -280px;
  }
}


@media (max-width:608px){
  .image-wraps{
    margin: 70px 50px;
  }
  
  .image-wraps img {
    width: 500px;
    height: 450px;
  }

  .slider .left-slide{
    left: -250px;
  }
  .slider .right-slide{
    right: -250px;
  }
}

@media (max-width:560px) {
  .name-title .name{
    font-size: 40px;
    }  

    .main-container{
      gap: 40px;
      }

}


@media (max-width:538px){
  .image-wraps{
    margin: 100px 50px;
  }
  
  .image-wraps img {
    width: 490px;
    height: 400px;
  }
}


@media (max-width:426px){

  .image-wraps{
    margin: 100px 50px;
  }
  
  .image-wraps img {
    width: 370px;
    height: 400px;
    object-fit: cover;
  }

  .name-title .name{
    font-size: 36px;
    }  
    .top-page-inner .name{
gap: 10px;
    }

      .title p{
        color: var(--whitey);
        font-size: 20px;
        }
        .title h2{
          color: white;
          font-size: 25px;
          font-weight: bold;
        }
      
}

@media (max-width:376px){
  .judul-span{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .name-title .name{
    font-size: 30px;
    }  
  .main-container{
    gap: 20px;
  }
  .judul-span span{
    color: var(--lightGreen);
    font-size: 45px;
  }

  .judul-span.judul span{
    color: var(--lightGreen);
    font-size: 30px;
    gap: 15px;
    padding: 0;
    font-weight: bold;
  }

  .arrow-container{
    top: 15px;
  }
  .slider {
    top: 45%;
  }
  .slider .left-slide{
    left: -170px;
  }
  .slider .right-slide{
    right: -170px;
  }
}

@media (max-width:320px){
  .slider {
    top: 35%;
  }
  .slider .left-slide{
    left: -145px;
  }
  .slider .right-slide{
    right: -145px;
  }

  .name-title .name{
    font-size: 18px;
    }  
    
    .judul-span span{
      color: var(--lightGreen);
      font-size: 25px;
    }

    .arrow-container{
      display: none;
    }

    .scroll-wrap{
      overflow-x: scroll;
    }
    

/* SCROLLBAR */
.scroll-wrap::-webkit-scrollbar {
height: 10px;
background-color: white;
  }
  
  .scroll-wrap::-webkit-scrollbar-track {
    background-color: white;
  }
  
  .scroll-wrap::-webkit-scrollbar-thumb {
    background-color: gray;
  }

    .App .contact-page{
      margin: 100px 10px 20px 10px;
    }

    .App .contact-page .mb-4{
      text-align: center;
      font-size: 20px;
    }
    .about-container{
      margin: 30px 15px;
    }

    .about-container .text p{
      font-size: 13px;
    }

    .testimoni{
      margin: 90px 5px 10px 5px;
      }
      
      .judul-span.judul{
        text-align: center;
  justify-content: center;;
      }

      .image-wraps{
margin: 50px 35px;
      }

      .image-wraps img{
width: 310px;
height: 350px;
      }
    
/* CARDS */
figure.snip1390 {
  order: 2;
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 10px;
  gap: 2rem;
  margin: 20px 12px;
}

.cards {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 50px 5px;
}

.card .info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
}


.cards .detail{
  display: block;
  margin:20px auto;
}

.card{
  position: relative;
  display: block;
  height: 350px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}


.App .form-right .fa{
  font-size: 20px;
  }

  .App .form-right{
    font-size: 14px;
    }

}

@media (max-width:250px){
  .top-page{
    margin: 0 0 0 20px;
  }
  
    .name-title .name{
    font-size: 16px;
    }  
  button {
    padding: 0.43em 1.37em;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin: 50px 5px;
  }
  
  .image-wraps{
    margin: 100px 0;
  }
  .image-wraps img{
    width: 200px;
  }
  
  .arrow-container{
    display: none;
  }
  
  .scroll-wrap{
    overflow-x: scroll;
  }
  figure.snip1390 {
    order: 2;
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    flex-basis: 250px;
      flex-grow: 0;
      flex-shrink: 0;
  }
  
  .service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 10px;
    gap: 2rem;
    margin: 20px 12px;
  }
  }


  
@media (max-width:225px){
  .top-page{
    margin: 0 0 0 13px;
  }
  
    .name-title .name{
    font-size: 16px;
    }  
  button {
    padding: 0.43em 1.37em;
  }
}